@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{font-family: "JetBrains Mono", monospace;}

html, body {
  height: 100%;
  margin: 0;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

input {
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  transition: background 0.3s ease-in, color 0.3s ease-in;
}

input:focus {
  background: white;
  color: black;
  outline: none;
  border-bottom: 1px solid white;
}

button {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in, color 0.3s ease-in;
  width: 100%;
}

button:hover {
  background: white;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-container {
  background: rgba(0, 0, 0, 0.8); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 350px;
}

.login-container h1, .login-container h2 {
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}
